<!DOCTYPE html>
<!--To do
-make create.html
-make space for the search bar
-curve the edges of each box to make it look nice
-->
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title> Home </title>
  </head>


  <body>
    <div class="topnav">
      <!-- THIS SHOULD CHANGE LATER, change the links to the active server links-->
      <a class="active">Cool Blog</a>
      <a href="login.html">Login</a>
      <a href="logout.html">Logout</a>
      <a href="create.html">Create Account</a>
    </div>
    <div class="sidenav">
      <!-- THIS SHOULD CHANGE LATER, change to a list of all the user's blogs-->
      <h1>Your Blogs:</h1>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
    <div class="main">
      <form action="/logout" method="POST">
        <!--<input type="submit" value="logout" name="logout">-->
      </form>
      <footer>
        By: Sexy Mermaids!
      </footer>
    </div>
  </body>
</html>
