<!DOCTYPE html>
<html>
  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Login to get started!
    </h1>
    <h3>
      Enter your login information below to proceed.
    </h3>
    <!-- <form action="/auth" method="POST">
      <p>username</p>
      <input type="text" name="username">
      </br>
      <p>password</p>
      <input type="text" name="password">
      </br>
      </br>
      <input type="submit" value="login" name="sub1">
    </form>
    <br>
  -->
  <p>
    (have username and password forms)
  </p>
  </body>
  <footer>
    By: Sexy Mermaids
  </footer>
</html>
