<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">  
    <title>Create Account</title>
  </head>
  <body>
    <h3>
      Please enter in your new username and password:
    </h3>
    <!-- <form action="/auth" method="POST">
      <p>username</p>
      <input type="text" name="username">
      </br>
      <p>password</p>
      <input type="text" name="password">
      </br>
      </br>
      <input type="submit" value="login" name="sub1">
    </form>
    <br>
  -->
  <p>
    Username:<br>
    (text box)<br>
    Password:<br>
    (text box)<br>
    Confirm Password:<br>
    (text box)<br>
  </p>
  </body>
  <footer>
    By: Sexy Mermaids
  </footer>
</html>
