<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="blogstyle.css">
    <title> Home </title>
  </head>


  <body>
    <div class="topnav">
      <!-- THIS SHOULD CHANGE LATER, change the links to the active server links-->
      <a href="homepage.html">Back to home</a>
      <a href="thisBlog.html">Back to this blog</a>
    </div>
    <div class="main">
      <p>replace with a box showing the text of the blog</p>
      <!--clicking on a blog should take the user to thisblog.html-->
    </div>
    <footer>
      By: Sexy Mermaids!
    </footer>
  </body>
</html>
