<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='blogstyle.css') }}">
    <title> Home </title>
  </head>


  <body>
    <div class="topnav">
        <a href="/">Back to Home</a>
        <a href="/">Back to this Blog</a>
    </div>

    <header class="header">
        <span class="name">Current Blog Name: {{ bname }}</span>
        <span class="date">Current Date: {{ dat }}</span>
    </header>

    <div class="main">
        <h2>Create New Entry</h2>
        <form action="/create" method="POST">
            <div class="form-group">
                <label for="newTitle">Entry Title</label>
                <input type="text" id="newTitle" name="newTitle" placeholder="Enter Entry Title" required>
            </div>
            <div class="form-group">
                <label for="newText">Entry Text</label>
                <textarea id="newText" name="newText" placeholder="Enter Entry Text" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="newDate">Entry Date</label>
                <input type="date" id="newDate" name="newDate" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Entry">
            </div>
        </form>
    </div>

    <footer>
        <p>By: Sexy Mermaids!</p>
    </footer>
</body>

</html>
