<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="blogstyle.css">
    <title> Home </title>
  </head>


  <body>
    <div class="topnav">
      <a href="{{ url_for('homepage') }}">Back to home</a>
      <a href="{{ url_for('thisBlog') }}">Back to this blog</a>
    </div>
    <div class="header">
      <span class="name">{{bname}}</span>
      <span class="date">{{dat}}</span>
    </div>

    <!--what is inside the beige box, and should be editable-->
    <div class="main">
      <h2>{{title}}</h2>
      <div class="blogText">
        <p>{{txt}}</p><br>
      </div>
    </div>

    <!--footer-->
    <footer>
      By: Sexy Mermaids!
    </footer>
  </body>
</html>
