<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
    <title> Login Page </title>
  </head>

  <body>
    <div class="topnav">]
      <a href="{{ url_for('homepage') }}">Back To Home</a>
    </div>


    <div class="main">
    <div class="wrong">
      <h1>
        There was an error with your login details. Try again.
      </h1>
    </div>
    <h3>
      Enter your login information below to proceed:
    </h3>
    <div class="username">
      <!--put where the person is supposed to input their username-->
      <form action="/auth" method="POST">
        <p>Username:</p>
        <input type="text" name="username">
        </br>
      </form>
    </div>
    <div class="password">
      <p>Password:</p>
      <input type="text" name="password">
      </br>
    </div>
    </br>
    <!--submit button-->
    <input class="button" type="submit" value="login" name="sub1">
  </body>
  </div>
  <footer>
    By: Sexy Mermaids
  </footer>
</html>
