
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='homestyle.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="topnav">
        <a class="active">Cool Blogs</a>
        <a class="new" href="/edit">New Blog</a>
        {% if logged %}
            <a href="/logout">Logout</a>
            <a>Welcome, {{ uname }}!</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/create">Create Account</a>
        {% endif %}
    </div>

    <div class="sidenav">
        <h1>Your Blogs:</h1>
        {% if logged and myTitle %}
            <a href="{{ url_for('thisBlog', title=myTitle) }}">Go to {{ myTitle }}</a>
        {% else %}
            <p>No blogs yet. Start creating one!</p>
        {% endif %}
    </div>

    <div class="main">
        <h2>Explore Recent Blog Posts</h2>
        {% if entries %}
            {% for blogname, title, entry, date in entries %}
                <div class="blog-post">
                    <h3><a href="{{ url_for('thisBlog', title=title) }}">Go to {{ title }}</a></h3>
                    <p><strong>{{ blogname }}</strong> | {{ date }}</p>
                    <p>{{ entry }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No blog posts available at the moment.</p>
        {% endif %}
    </div>

    <footer>
        By: Sexy Mermaids!
    </footer>
</body>
</html>