<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="homestyle.css">
    <title> Home </title>
  </head>


  <body>
    <div class="topnav">
      <a class="active">Cool Blogs</a>
      <a class="new" href="edit.html">New Blog</a>
      <!-- THIS SHOULD CHANGE LATER, change the links to the active server links-->
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      <a href="{{ url_for('create') }}">Create Account</a>
    </div>
    <div class="sidenav">
      <!-- THIS SHOULD CHANGE LATER, change to a list of all the user's blogs-->
      <h1>Your Blogs:</h1>
      {{<!--a variable that is replace with all of the user's blogs-->}}
    </div>
    <div class="main">
      <p>REPLACE WITH LIST OF ALL THE BLOGS</p>
      <!--clicking on a blog should take the user to thisblog.html, remove the thisblog link below after testing-->
      <a href="thisBlog.html">testing link to go to blogs</a>
    </div>
    <footer>
      By: Sexy Mermaids!
    </footer>
  </body>
</html>
