<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="loginstyle.css">
    <title> Login Page </title>
  </head>

  <body>
    <div class="topnav">
      <!-- THIS SHOULD CHANGE LATER, change the links to the active server links-->
      <a href="homepage.html">Back To Home</a>
    </div>


    <div class="main">
    <h1>
      Login to get started!
    </h1>
    <h3>
      Enter your login information below to proceed:
    </h3>
    <!-- <form action="/auth" method="POST">
      <p>username</p>
      <input type="text" name="username">
      </br>
      <p>password</p>
      <input type="text" name="password">
      </br>
      </br>
      <input type="submit" value="login" name="sub1">
    </form>
    <br>
  -->
    <div class="username">
      <!--put where the person is supposed to input their username-->
      <form action="/auth" method="POST">
        <p>username</p>
        <input type="text" name="username">
        </br>
      </form>
    </div>
    <div class="password">
      <p>password</p>
      <input type="text" name="password">
      </br>
    </div>
  </br>
  <input type="submit" value="login" name="sub1">


    </body>
  </div>
  <footer>
    By: Sexy Mermaids
  </footer>
</html>
