<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="loginstyle.css">
    <title> Logout Page </title>
  </head>

  <body>
    <div class="topnav">
      <!-- THIS SHOULD CHANGE LATER, change the links to the active server links-->
      <a href="homepage.html">Back To Home</a>
    </div>


    <div class="main">
    <h1>
      You have logged out. Login to continue:
    </h1>
    <h3>
      Enter your login information below to proceed:
    </h3>
    <!-- <form action="/auth" method="POST">
      <p>username</p>
      <input type="text" name="username">
      </br>
      <p>password</p>
      <input type="text" name="password">
      </br>
      </br>
      <input type="submit" value="login" name="sub1">
    </form>
    <br>
  -->
    <div class="username">
      <!--put where the person is supposed to input their username-->
      <p>dummy text</p>
    </div>
    <div class="password">
      <!--put where the person is supposed to input their password-->
      <p>more dummy text</p>
    </div>

    <!--DELETE THIS LATER, THIS IS JUST FOR TESTING PURPOSES-->
    <p>
      <a href="homepage.html">the username and password match</a> <br>
      <a href="error.html">the username and password don't</a>
    </p>
    <!---------------------------------------------->


    </body>
  </div>
  </body>
  <footer>
    By: Sexy Mermaids
  </footer>
</html>
