<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="loginstyle.css">
    <title> Login Page </title>
  </head>

  <body>
    <div class="topnav">
      <a href="/">Back To Home</a>
    </div>


    <div class="main">
    <h1>
      You have logged out. Login to get started.
    </h1>
    <h3>
      Enter your login information below to proceed:
    </h3>
    <div class="username">
      <!--put where the person is supposed to input their username-->
      <form action="/auth" method="POST">
        <p>Username:</p>
        <input type="text" name="username">
        </br>
      </form>
    </div>
    <div class="password">
      <p>Password:</p>
      <input type="text" name="password">
      </br>
    </div>
  </br>
  <!--submit button-->
  <input class="button" type="submit" value="login" name="sub1">
  </body>
  </div>
  <footer>
    By: Sexy Mermaids
  </footer>
</html>
