<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='blogstyle.css') }}">
    <title> Home </title>
  </head>


  <body>
    <div class="topnav">
      <!-- THIS SHOULD CHANGE LATER, change the links to the active server links-->
      <a href="{{ url_for('homepage') }}">Back to home</a>
      <a href="{{ url_for('edit', title=Title) }}">Edit this blog</a>
    </div>
    <div class="header">
      <span class="name">{{bname}}</span>
      <span class="date">{{dat}}</span>
    </div>
    <div class="main">
      <h2>{{Title}}</h2>
      <div class="blogText">
        <p>{{txt}}</p><br>
      </div>
    </div>
    <footer>
      By: Sexy Mermaids!
    </footer>
  </body>
</html>
